<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naraci.app.BaseServer.mapper.ImageAcgMapper">

    <resultMap id="BaseResultMap" type="com.naraci.app.BaseServer.domain.ImageAcg">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,is_deleted,create_time,
        update_time,name,url
    </sql>
    <delete id="deletedByUrl">
        delete from yuziapi.image_acg where url = #{url}
    </delete>
</mapper>
